<div class="modal-header">
  <h4 class="modal-title pull-left">Summary of Ready to Submit Claims
</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2">
      <label class="col-form-label">Groups</label>
    </div>
    <div class="col-md-10">
      <label class="col-form-label font-weight-normal">: {{groups}} </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label class="col-form-label">Companies</label>
    </div>
    <div class="col-md-10">
      <label class="col-form-label font-weight-normal">: {{companies}} </label>
    </div>
  </div>
  <app-claim-summary-body [dataItem]></app-claim-summary-body>
  <app-claim-submission-footer></app-claim-submission-footer>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submitClaims()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
  </div>
</div>
