<!-- <span style="color: red" *ngIf="params.value=='CEO'"> {{ params.value}}  <img  alt="nto found"  /></span>

<span style="color: blue" *ngIf="params.value!='CEO'">{{ params.value}} Cell Editing <img  alt="nto found"  /></span>
 -->
<div *ngIf="!isEdited">
    {{ params.value}}
    <div *ngIf="contentChange">
        Latest Content
    </div>

</div>
<div *ngIf="isEdited">
    <div *ngIf="isCheck"><input type ="text" [value]="params.value" required/></div>
    <div *ngIf="!isCheck">{{params.value}}</div>
    


</div>