<md-toolbar color="secondary">
  <span>DEMO </span>
</md-toolbar>
<button (click)="addRow()"> Add Row</button>
<button (click)="deleteRow()"> Remove Row</button>
<md-card id="grid-container">
    <md-card-title>Simple Demo</md-card-title>
    <md-card-content>
        <ag-grid-angular style="width: 100%; height: 350px;"
         class="ag-theme-material"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            (rowSelected)="onRowSelected($event)"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>
    </md-card-content>
    <md-card-content>
        <ag-grid-angular style="width: 100%; height: 350px;"
         class="ag-theme-material"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            (rowSelected)="onRowSelected($event)"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>
    </md-card-content>
    
</md-card>