<div class="card">
  <div class="card-header">
    <div class="card-header-name">Create New Task</div>
    <div class="card-header-config float-right keep-open">
      <!--<a class="" href="#" onclick="toggleFullScreen()"><i class="material-icons">launch</i></a>-->
      <a class="" data-toggle="collapse" href="#collapsewidgetpanel"><i class="material-icons">visibility_off</i></a>
      <a class="" href="#" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
        <div class="drag&dropelements">
          <ul>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck104" checked>
                <label class="custom-control-label" for="customCheck100">Worklist Name</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck105" checked>
                <label class="custom-control-label" for="customCheck101">Assign Period</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck106" checked>
                <label class="custom-control-label" for="customCheck102">Process</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Review</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Submission</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Re Submission</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck108" checked>
                <label class="custom-control-label" for="customCheck108">Active Period</label>
              </div>
            </li>
          </ul>

          <button type="button" class="btn btn-secondary btn-sm">Reset</button>
          <button type="button" class="btn btn-danger btn-sm">Save Layout</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body collapse show" id="collapsewidgetpanel">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-2">
        <div class="dragdropfilters">
          <ul>
            <li draggable *ngFor="let item of filterTypes" [dragData]="item" class="list-group-item">{{item.name}}</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-6">
        <div  class="droppablearea" droppable (onDrop)="onItemDrop($event)">
          <ul class="droptext filterelement-row" [sortablejs]="claimFilters"  >

            <li *ngFor="let claimFilter of claimFilters"  >
              <div *ngIf="claimFilter.filterType.name" >
                <div class="filterheader" (click)="updateFilterValue(claimFilter)">
                  <i class="material-icons">add</i>{{claimFilter.filterType.name}}
                </div>
                <div class="clearfix"></div>
                <div class="filterelement" >
                  <div *ngFor="let filterValue of claimFilter.filterValues"   class="filterelementvalue" >
                    <span *ngIf="claimFilter.filterType.type === 'select'" class="filterelementvalue" >
                        {{filterValue.name}}
                        <span><i class="material-icons" (click)="removeFilterValue(claimFilter,filterValue)" >highlight_off</i></span>
                    </span>
                    <span *ngIf="claimFilter.filterType.type === 'daterange'" class="filterelementvalue" >
                      {{filterValue.dateFrom}} - {{filterValue.dateTo}}
                      <span><i class="material-icons" (click)="removeDateRange(claimFilter)" >highlight_off</i></span>
                    </span>
                  </div>
                </div>
              </div>
            </li>

            <!-- <h2>Drag and Drop</h2>
              <p>Filters from left side panel</p> -->
            </ul>
          </div>
          <div *ngIf="(this.claimFilters.length == 0)" class="err-msg">
            Worklist Filter Criteria is required
          </div>

          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Add {{selectedClaimFilter.filterType.name}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div  *ngIf="(this.selectedClaimFilter != null && this.selectedClaimFilter.filterType.type == 'select')"  class="modal-body" >
              <kendo-multiselect [data]="filterItems" (valueChange)="onModelFilterValueChange($event)"
              [textField]="'name'" [valueField]="'filterId'" [value]="selectedFilterValues" ></kendo-multiselect>
            </div>
            <div  *ngIf="(this.selectedClaimFilter != null && this.selectedClaimFilter.filterType.type == 'daterange')"  class="modal-body" >
                <div class="input-group datepickerwrapper">
                    <input class="form-control" placeholder="Select Period" #drp="bsDaterangepicker"
                    bsDaterangepicker (bsValueChange)="filterDateRangeChange($event)"  [bsValue]="this.bsValue" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" >
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="material-icons">today</i></span>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="closeModel($event)" >Close</button>
              <button type="button" class="btn btn-danger"  (click)="addFilterValues($event)">Add</button>
            </div>
          </ng-template>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="worklistform" >

            <form [formGroup]="worklistForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4 col-form-label">Worklist Name</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <input type="text" class="form-control" formControlName="name" >
                  <div *ngIf="worklistForm.controls['name'].errors && worklistForm.controls['name'].touched">
                      <div *ngIf="worklistForm.controls['name'].errors.required" class="err-msg">
                          Worklist Name is required
                      </div>

                      <div *ngIf="worklistForm.controls['name'].errors.unique" class="err-msg">
                          <!-- {{worklistForm.controls['name'].errors | json}} -->
                            Worklist Name is exists.
                         </div>
                  </div>


                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Assign Period</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <select class="form-control" required formControlName="assignPeriod" >
                    <option *ngFor="let period of assignPerids" [value]="period.value">{{ period.text }}</option>
                  </select>
                    <div *ngIf="worklistForm.controls['assignPeriod'].errors && worklistForm.controls['assignPeriod'].touched" class="err-msg">
                    Assign Period is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Process</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <kendo-multiselect [data]="users" class="form-control" formControlName="process"
                  [textField]="'name'" [valueField]="'staffMember'"  ></kendo-multiselect>
                  <div *ngIf="(this.worklistForm.controls['process'].value == null ||
                  this.worklistForm.controls['process'].value.length == 0 ) && worklistForm.controls['process'].touched" class="err-msg">
                  Process is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Review</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <kendo-multiselect [data]="users" class="form-control" formControlName="review"
                  [textField]="'name'" [valueField]="'staffMember'"  ></kendo-multiselect>
                  <div *ngIf="(this.worklistForm.controls['review'].value == null ||
                  this.worklistForm.controls['review'].value.length == 0 ) && worklistForm.controls['review'].touched" class="err-msg">
                  Review is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Submission</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <kendo-multiselect [data]="users" class="form-control" formControlName="submission"
                  [textField]="'name'" [valueField]="'staffMember'"  ></kendo-multiselect>
                  <div *ngIf="(this.worklistForm.controls['submission'].value == null ||
                  this.worklistForm.controls['submission'].value.length == 0 ) && worklistForm.controls['submission'].touched" class="err-msg">
                  Submission is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4 col-form-label">Re submission</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <kendo-multiselect [data]="users" [ngClass]="form-control" formControlName="reSubmission"
                  [textField]="'name'" [valueField]="'staffMember'" ></kendo-multiselect>
                  <div *ngIf="(this.worklistForm.controls['reSubmission'].value == null ||
                  this.worklistForm.controls['reSubmission'].value.length == 0 ) && worklistForm.controls['reSubmission'].touched" class="err-msg">
                  Re submission is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Status</label>
                <div class="col-sm-12 col-md-12 col-lg-8">
                  <select class="form-control" required formControlName="status" >
                    <option *ngFor="let status of statuses" [value]="status.value">{{ status.text }}</option>
                  </select>
                  <div *ngIf="worklistForm.controls['status'].errors && worklistForm.controls['status'].touched" class="err-msg">
                    Status is required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-lg-4  col-form-label">Active From</label>
                <div class="col-sm-12 col-md-12 col-lg-8">

                  <div class="input-group datepickerwrapper">
                    <input class="form-control" placeholder="Select Period" #drp="bsDatepicker" [minDate]="minDate"
                    bsDatepicker formControlName="activeFrom" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" >
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="material-icons">today</i></span>
                    </div>
                    <div *ngIf="worklistForm.controls['activeFrom'].errors && worklistForm.controls['activeFrom'].touched" class="err-msg">
                      Active From date is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col text-right">
                  <button type="button" class="btn btn-danger btn-sm" (click)="clearForm()" >New Task</button>
                  <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!worklistForm.valid || this.claimFilters.length == 0" >Save Task</button>
                </div>
              </div>

            </form>
          </div>
        </div>



      </div>
    </div>
  </div>
