.widget-box {
    background-color: #03a9f3;
    color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
    display: block;
    min-height: 90px;
}
.widget-box:hover,.widget-box:focus{
    background-color: #0688c1;
    color: #fff;
    transition: 0.3s all ease;
}

.hidden-menu .widget-box .widget-details{
    display: block;
    margin: 0px auto;
    text-align: center;
    float: none;
}
.widget-box .widget-details h6{
    margin-top: 15px;
}