<div class="form-group">
    <!-- Label -->
    <label for="psw">{{label}}</label>
    
    <!-- Input Box -->
    <textarea 
        [cols]="cols" 
        [rows]="rows" 
        formControlName="csiControllerName"
        class="{{classes}}"
        placeholder="{{placeholder}}" 
        [disabled]="disabled" 
        [value]="value"
        (input)="onSearchChange($event.target.value)"
        (blur)="onBlurEmit()">
    </textarea>

<!-- Error Message  -->
<div class="text-error" *ngIf="(control.dirty || control.touched) && control?.errors">{{errorMessage()}}</div>
</div>