<div class="">
  <h5>Total Claims</h5>
  
  <div class="row">
      <div class="col-sm-12 col-md-12 pt-3">
          <total-claim-summary  #totalclaimsummary ></total-claim-summary>
      </div>
  </div> 
  
  <div class="row">
      <div class="col-sm-12 col-md-12 pt-3 mb-3">
          <div class="crud-area">
              <div class="card-group">
                  <div class="card search-card col-sm-4 col-md-3">
                      <rcm-claim-search  #claimsearch 
                      (claimsearchEvent)="claimgrid.searchClaims(claimsearch.searcClaim.value)"  ></rcm-claim-search>
                  </div>
                  <div class="card crud-card col-sm-8 col-md-9">
                      <rcm-claim-grid  #claimgrid  [isClaimReview]="isClaimReview" 
                      (publishClaims)="totalclaimsummary.setClaims(claimgrid.claims)" ></rcm-claim-grid>
                  </div>
              </div>
          </div>  
      </div>
  </div>
</div>

