<div id="container" class="mood" style="z-index:initial">
    <datetime-popup #input [(value)]="dateExample"></datetime-popup>
  
  <!-- <div *ngIf="1==2">
    <datetime-popup #input [(value)]="dateExample"></datetime-popup>
  </div>
  <div *ngIf="1==3">
    <select #input name="myselect">
      <option value="option1">Options1</option>
      <option value="opiton2"></option>
      <option value="option4">option4</option>
      <option value="option5">options3</option>
      <option value="option5">option5</option>
      <option value="option6">option6</option>
      <option value="option7">option7</option>
    </select>
  </div>
  <div *ngIf="params.value==25">
      <input type="text" [value]="params.value" >
    </div>
    <div *ngIf="params.value!=25">
        <p>{{params.value}}</p>
      </div> -->
</div>