<div class="content-area-top">
  <div class="menuwrapper">
    <span class="logo-btn"  title="logo">
      <img src="./assets/images/logo_new.png" width="40"/>                      
    </span>
    <span class="menu-btn" id="menu-click" title="Show/Hide Menu" (click)="toggleNav()">
      <i class="material-icons">menu</i>                        
    </span>
    <span class="exp-btn" onclick="toggleFullScreen()" title="Expand/Compose Workspace">
      <i class="material-icons">launch</i>                      
    </span>
    
    <span class="options-menu" id="options-menu">
      <i class="material-icons">more_vert</i>                  
    </span>
    <span class="notifications" id="notifications">
      <i class="material-icons">notifications</i>                     
    </span>
    
    <span class="logged-user" id="logged-user">
      <div class="btn  btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Prasad - RCM Manager 
      </div>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Edit Profile</a>
        <a class="dropdown-item" href="#">Account Settings</a>
        <a class="dropdown-item" href="#">Sign Out</a>
        
      </div>
    </span>
  </div>
</div>