<!-- <div style="width: 400px;">
  <ag-grid-angular #agGrid 
  style="width: 100%; 
  height: 200px;" 
  class="ag-theme-balham"
  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"
  [groupSelectsChildren]="true"
  [suppressRowClickSelection]="true"
  (rowSelected)="onRowSelected($event)"
  [suppressDragLeaveHidesColumns]="false"
  (onSelectionChanged)="onSelectionChanged($event)"
  [singleClickEdit]="true"
  (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div> -->

<ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-theme-balham"
[gridOptions]="gridOptions"
(gridReady)="onGridReady($event)"
[groupDefaultExpanded]="csiaggridoptions.groupDefaultExpanded"
[showToolPanel]="csiaggridoptions.showToolPanel"
[singleClickEdit]="csiaggridoptions.singleClickEdit?true:false"
(rowSelected)="onRowSelectedf($event)"
[animateRows]="true"
[enableCellChangeFlash]=true
[debug]="csiaggridoptions.debug?true:false"
[enableColResize]="csiaggridoptions.enableColResize?true:false"
[suppressAggFuncInHeader]="true"
(onSelectionChanged)="onSelectionChanged($event)"
[getDataPath]="csiaggridoptions.getDataPath?csiaggridoptions.getDataPath:''"
[getRowClass]="csiaggridoptions.getRowClass?csiaggridoptions.getRowClass:''"


>
</ag-grid-angular>
<!-- isRowSelectable -->
<!-- [frameworkComponents]="frameworkComponents" 
(onRowSelected)="onRowSelectedf($event)"-->