<div class="row mt-3">
  <div class="col">
    <div class="widget-box centered-box" id="total_count" (click)="toggleTotal_list()">
      <div class="widget-img">
        <img src="./assets/images/icons/claims-icon-new.png" />
      </div>
      <div class="widget-details">
        <h6>{{totalTitle}}</h6>
        <h5>{{totoalCount}}</h5>
        <h5>
          <b>{{totoalAmount}}</b>
        </h5>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col">
    <div class="widget-box centered-box" id="clean_count" (click)="toggleClean_list()">
      <div class="widget-img">
        <img src="./assets/images/icons/claims-icon-error.png" />
      </div>
      <div class="widget-details">
        <h6>{{cleanTitle}}</h6>
        <h5>{{cleanCount}}</h5>
        <h5>
          <b>{{cleanAmount}}</b>
        </h5>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col">
    <div class="widget-box centered-box" id="error_count" (click)="toggleError_list()">
      <div class="widget-img">
        <img src="./assets/images/icons/claims-icon-clean.png" />
      </div>
      <div class="widget-details">
        <h6>{{errorTitle}}</h6>
        <h5>{{errorCount}}</h5>
        <h5>
          <b>{{errorAmount}}</b>
        </h5>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
  <div class="col">
    <div class="widget-box centered-box">
      <div class="widget-img">
        <img src="./assets/images/icons/claims-icon-pending.png" />
      </div>
      <div class="widget-details">
        <h6>Assignees</h6>
        <h5>{{selectedAssigneeCount}}</h5>
        <p>{{Assignees}}</p>


      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="error_list" class=" mt-3">
  <div class="row">
    <div class="col">
      <h5>{{SelectedTitle}}</h5>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <csi-grid [data]="dataItem" [columns]="columns" [options]="gridOptions1" (onRowClick)="rowClicked($event)"></csi-grid>
        <ng-template #layer1Template let-dataItem="item" let-formGroup="formGroup">
            <csi-grid ngClass="" [data]="dataItem.companies" [columns]="columns" [options]="gridOptions2" (onRowClick)="rowClicked($event)"></csi-grid>
        </ng-template>

        <ng-template #layer2Template let-dataItem="item" let-formGroup="formGroup">
              <csi-grid [data]="dataItem.encounters" [columns]="columns" [options]="gridOptions3" (onRowClick)="rowClicked($event)"></csi-grid>
        </ng-template>


      </div>
    </div>
  </div>
</div>
