<div [class]="getClasses()">
  <gridster  style=" height:initial;" [options]="options">
    <gridster-item [item]="cell" *ngFor="let cell of cellContents" class="gridster-custom-padding">
      <header *ngIf="enableEditMode" class="h5 drag-handler text-right pr-2 text-white">
          <span (mousedown)="removeItem($event, cell)"  (touchstart)="removeItem($event, cell)"><i class="fa fa-trash pointer" style="color:  white; "aria-hidden="true" (click)="removeItem(item)"></i></span>
          <!-- <i class="fa fa-bars" style="color:  white; " aria-hidden="true"></i> -->
      </header>
     
      <csi-dynamic-component [component]="cell.component"></csi-dynamic-component>
    </gridster-item>
  </gridster>
</div>