<div class="card">
  <div class="card-header">
      <div class="card-header-name">Rules Engine Interface</div>
      <div class="card-header-config float-right keep-open">
          <a class="" href="#" onclick="toggleFullScreen()">
              <i class="material-icons">launch</i>
          </a>
          <a class="" href="#" data-toggle="dropdown">
              <i class="material-icons">more_vert</i>
          </a>

      </div>
  </div>
  <div class="card-body collapse show" id="collapsewidgetpanel">
    <iframe src="http://172.15.100.71:8080/kie-drools-wb/kie-drools-wb.jsp" title="iframe example 1" width="1000" height="1000" sandbox>
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
