<div  class="form-group">
  <!-- Label -->
  <label for="psw">{{label}}</label>
  
  <select
  id = "{{id}}"
  formControlName="csiControllerName"
  class="{{classes}}"
  [disabled]="disabled"  
  [value]="_value"
  (blur)="onBlurEmit($event)"
  (change)="onSearchChange($event.target.value)">
  <option *ngFor="let option of options" value="{{ option.id }}">{{ option.name }}</option>
</select>


<!-- Error Message  -->
<div class="text-error" *ngIf="(control.dirty || control.touched) && control?.errors">{{errorMessage()}}</div>

</div>