.main-wrapper {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.sidebar {
	position: fixed;
    top: 0;
    left: 0px;
    width: 220px;
}
.content-area {
	display:block;
	padding:0 20px 20px 20px;
	
}	
.hidden-menu .sidebar {left: -220px;}
.hidden-menu .content-area-top {left:0;padding-right:0;}
.hidden-menu .content-area {margin-left: 0px;/*background-color: #e6e6e6;*/}
.sidebar-top {height:60px;padding:10px 10px 0 10px; /*background-color:#868e96;*/}
.sidebar-bottom {padding-top:30px;}
.sidebar-bottom a {padding:10px;display: block;color:#ffffff;text-decoration:none;}
.sidebar-bottom .active, .sidebar-bottom .active:hover  {color:#000;/*background-color: #e6e6e6;*/cursor:default;}
.sidebar-bottom a:hover {color:#fff;/*background-color:#676c6e;*/}
.content-area-top {
	height:60px;
	padding:0;
	position:fixed;
	left:0;
	top:0;
	z-index:101;
	width:100%;
	padding-right:0;
}
.content-area-bottom {
	margin-top:70px;
	min-height:780px;
	z-index:100;
	padding:15px;
}
.menuwrapper {
	position:relative;
	margin:0;
	padding:0;
	height:100%;
}

.menu-btn {
    font-size: 25px;
    cursor: pointer;
	position:absolute;
	top:10px;
	left:100px;
}
.exp-btn {
    font-size: 24px;
    cursor: pointer;
	position:absolute;
	top:10px;
	left: 145px;
}
.options-menu {
	font-size:25px;
	position: absolute;
    top: 8px;
    right: 20px;
	cursor: pointer;
	padding:0 10px;
}
.notifications {
	font-size:23px;
	position: absolute;
    top: 9px;
    right: 55px;
	cursor: pointer;
	padding:0 10px;
}
.menu-btn:hover, .options-menu:hover, .exp-btn:hover, .notifications:hover {color: #000;}
.logged-user {
	position: absolute;
    top: 10px;
    right: 85px;
	cursor: pointer;
}
.logged-user .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
   /* padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;*/
}

/* ----------- horizontal panel ------------ */

.panel-container {
  display: flex;
  flex-direction: row;
 /* border: 1px solid silver;*/
  overflow: hidden; 
  /* avoid browser level touch actions */
  xtouch-action: none;
  margin-top:20px;
}
.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 20px;
  width: 60%;
  min-height: 350px;
  min-width: 150px;
  white-space: nowrap;
}
.splitter {
  flex: 0 0 auto;
  width: 7px;  
  //background: url(../images/vsizegrip.png) center center no-repeat /*#dfe4e8*/;
  min-height: 200px;
  cursor: col-resize;  
}
.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 20px 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}
/* ----------- /horizontal panel ------------ */

.search-field-td {width:300px;display:inline-block;}
.search-field-td input {padding:5px 10px;}

.create-area {margin-top:20px;}
.btn-container {
	width:100%;
/*	background-color: #fff;*/
	height:auto;
	min-height:50px;
	padding: 15px;
	border-left: 5px solid #ccc;
}
.btn-container-active  {
	-webkit-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);

}
 
.btn-canvas {

	min-height:300px;
	padding:10px;
	border-width:5px;  
    border-style:dashed;
	border-color: #ccc;
}
.data-canvas {
	margin-top:10px;
	min-height:300px;
	padding:10px;
}
.work-pad-wrapper {
	margin-top:20px;
}	
.work-pad-wrapper-active {
	/* SHOW WHEN ACTIVE */
	-webkit-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);

}
.top-geninfo {margin-bottom:20px;font-size:14px;display:none;}
.top-geninfo  h6 {padding-bottom:10px;border-bottom: 1px solid rgba(0,0,0,.1);margin-bottom:20px;}
.top-geninfo .form-group {margin-bottom:6px;}
.top-geninfo span {font-weight: bold;font-weight:none;}
.top-geninfo .ftbold {font-weight: bold;}

/* ----------- Drag and Drop ------------ */
.commsy {
	display:none;
}
.btn-edit {display:none;}


#work-pad .btn {
	display:block;
	margin-bottom:10px;
	text-align:left;
	position:relative;
	
	/*Orange*/
	color: #111;

}
#work-pad .done.btn  {
	/*Orange*/
	color: #fff;

}

#btn-container .btn {
	width:auto;
	display:inline-block;
	margin:0 3px;
	
}

.activeLeftBtn, .activeLeftBtn:hover {
	color: #fff;

}
.checkBtn {display:none;}

.done .checkBtn {
	display:block;
	position:absolute;
	right:10px;
	top:0;
	font-size:20px;
}
.saveBtn {display:none;}
h6 {font-size:18px;}
.form-group label {margin-bottom:2px;font-size:14px;}
.form-check-label {font-size:14px;}
.pt20 {padding-top:20px;}
/*.form-control:disabled, .form-control[readonly]*/
.main-act-btn {margin-top:30px;text-align:right;display:none;}
.btn-set-wrap {display:none;min-height: 30px;}
.btn-set-wrap-active {display:block;}
/* ----------- /Drag and Drop ------------ */

.btn-canvas {
	//background-image: url(../images/bgdroptext.png);
	background-repeat: no-repeat;
    background-position: center center;
	
	  /*  background: url(../images/csi-logo.png);
    background-repeat: no-repeat;
    background-origin: content-box; */

}
.bgOff {background-image:none;}
.drag-btn-behind {display:inline;}
.custom-control-input:checked~.custom-control-indicator {
	-webkit-box-shadow: none;
    box-shadow: none;

}

/* Table */
.td-table-ro .table {font-size:14px;width:100%;margin-bottom:10px;}
.td-table-ro .table td, .table th {padding: .25rem;}
.td-table-ro .table th {font-weight:500;}
.td-table-ro .table td:nth-child(1) {width:20%;}
.td-table-ro .table td:nth-child(2) {width:55%;}
.td-table-ro .table td:nth-child(3) {width:25%;}
.f16 {font-size:16px;}

.search-field-pkg {position:relative;}
/* .search-field-pkg .search-pkg {
	position:absolute;
	right:12px;
	top:2px;
	cursor:pointer;
	padding: 1px 3px;
	background-color: #fff;
} */
.search-field-pkg .search-pkg-reset {
	position:absolute;
	right:12px;
	top:2px;
	cursor:pointer;
	padding: 1px 3px;
	display:none;
}
/* .pkg-table-wrap {height:250px;overflow-y:auto;} */
.pkg-table-wrap .table {font-size:14px;width:100%;margin-bottom:10px;margin-top:10px;}
.pkg-table-wrap .table td:nth-child(1) {width:5%;}
.pkg-table-wrap .table td:nth-child(2) {width:12%;}
.pkg-table-wrap .table td:nth-child(3) {width:13%;}
.pkg-table-wrap .table td:nth-child(4) {width:50%;}
.pkg-table-wrap .table td:nth-child(5) {width:20%;}
.pkg-table-wrap .table th {font-weight:500;}
.modal-header {border-bottom:0;}
.modal-footer {border-top:0;}
.pkg-table-wrap .form-check-input {margin-top:-5px;}
.no-mgb {margin-bottom:0;}
.table.no-border tr td, .table.no-border tr th { border-width: 0;}
.modal-dialog .search-field input {
	border-radius: 0;
}
.search-result {
	border:1px solid #ccc;
	width:100%;
	height:207px;
	padding:10px;	
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0,0,0,.1);
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,.1);
    background-color: #fff;
}
#packageModal .modal-body {padding-bottom:5px;}
#packageModal .modal-footer {padding-top:5px;}
.testpkg, .testpkg:hover {color: #007bff;text-decoration: none;cursor:pointer;display:inline-block;padding-left:10px;}
.pkg-table-wrap .search-wrap {position:relative;}
.pkg-table-wrap .search-result {position:absolute; top:32px; left:0;display:none;z-index: 1055;}
.search-result-show {display:block;}
.select-all {float:left;font-size:12px;padding-top:2px;}

.search-result-bottom {height:150px;overflow-y: auto;float:left;padding: 5px 10px;}

.search-result .table {margin:0;z-index:1000;}
.search-result .table td:nth-child(1) {width:5%;padding-left:0;}
.search-result .table td:nth-child(2) {width:20%;}
.search-result .table td:nth-child(3) {width:75%;}

.search-actions {width:100%;text-align: right;}
.search-actions a {margin-left:10px;}

.test-pkg-list {/* max-height:239px;overflow-y:auto;padding:5px 10px;*/}
.test-pkg-list ul, .test-pkg-list ul li {list-style:none;padding:0;}
.test-pkg-list-header {font-weight:bold;margin-top:10px;}
.test-pkg-list-header span:nth-child(1) {width:25%;display:inline-block;padding:5px 10px}
.test-pkg-list-header span:nth-child(2) {width:75%;display:inline-block;padding:5px 10px}
.test-pkg-list li {display:block;cursor:default;padding:5px 10px !important;margin-bottom:3px;border: 1px solid #CCC;}
.test-pkg-list li span:nth-child(1) {width:25%;display:inline-block;}
.test-pkg-list li span:nth-child(2) {width:50%;display:inline-block;}
.test-pkg-list li span:nth-child(3) {width:25%;display:inline-block;text-align:right;}
 
.pkgchkbox {margin-right:0;}
.pkg-done-icon {color:#ccc;font-size:20px;font-weight:700;cursor:pointer;position:relative;padding-left:30px;}
.pkg-done-icon i {position:absolute;top:3px;right:0;}
.page-item.active .page-link {

}
/*
.btn-danger {
	background-color:#ed3237;
}
*/

/**/
.scrollbar {

	float: left;
	width: 100%;
    overflow-y: auto;
    padding:0 10px;
}

.force-overflow {
	max-height: 265px;
}

.pkg-table-wrap #style-1.scrollbar{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
#style-1::-webkit-scrollbar {
	width: 10px;

} 
	
#style-1::-webkit-scrollbar-thumb {
  //  background-color: #000000;

  /*  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent)); */
}


#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

.pkg-table-wrap .search-result-bottom{
    width: 100%;
}

/* notifications */
.jq-icon-info {
	color:#fff;
	text-align:left;
	position: fixed;
	top: 20px;
    right: 40px;
	width: auto;
	padding:20px;
	border-radius: 4px;
	font-size:18px;
	z-index: 9000 !important; 
}
.close-jq-toast-single {display:none;}
.jq-toast-loader { display: block; position: absolute; top: -2px; height: 5px; width: 0%; left: 0; border-radius: 5px;}
.jq-toast-loaded { width: 100%; }

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

.top-geninfo {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
	border: 1px solid #ccc;
	background-color: #f2f4f6;
	
	-webkit-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
}

/**/
.dynamic-content {padding: 20px;margin-top: 20px;min-height:500px;}
#td-create {display:none;}

#td-filter .table {margin:20px 0;}
#td-filter tbody tr:hover {cursor:pointer;}
.td-list-active {background-color: rgba(0,0,0,.075);}
#td-filter .table td:nth-child(1) {width:10%;}
#td-filter .table td:nth-child(2) {width:30%;}
#td-filter .table td:nth-child(3) {width:10%;}
#td-filter .table td:nth-child(4) {width:10%;}
#td-filter .table td:nth-child(5) {width:10%;}
#td-filter .table td:nth-child(6) {width:15%;}
#td-filter .table td:nth-child(7) {width:15%;}

.search-field-td-wrap {position:relative;}
.search-field-td-wrap .search-result {min-height:40px;height:auto;display:none;}
.search-field-td-wrap .search-result p {font-size:14px;margin-bottom:5px;line-height:14px;cursor:pointer;padding:5px 10px;}
.search-field-td-wrap .search-result p:hover {background-color: #f3f4f5;}
.search-field-td-wrap .search-td-reset {
    position: absolute;
    right: 12px;
    top: 2px;
    cursor: pointer;
    padding: 1px 3px;
	display:none;
}
.custom-select:focus {
    border-color: #ed3237;
    outline: 0;
}

/*LOS*/
#lo-list .table {margin:20px 0;}
#lo-list tbody tr:hover {cursor:default;}
#lo-list .table td:nth-child(1) {width:10%;}
#lo-list .table td:nth-child(2) {width:12%;}
#lo-list .table td:nth-child(3) {width:18%;}
#lo-list .table td:nth-child(4) {width:12%;}
#lo-list .table td:nth-child(5) {width:19%;}
#lo-list .table td:nth-child(6) {width:19%;}
#lo-list .table td:nth-child(7) {width:10%;}

.create-area {min-height:33px;}

/*Date Range Style */
.cal-caret {padding-left:5px;}
#reportrange {
	min-width:300px;
	width:auto;
	color:#fff;
	background-color:#ed3237;
	padding:5px 10px;
	cursor:pointer;
	display:inline-block;
}
.ranges li.active {
    background-color: #ed3237;
    border: 1px solid #ed3237;
    color: #fff;
}
.ranges li:hover {
    background-color: #ed3237;
    border: 1px solid #ed3237;
    color: #fff;
}
/* /- Date Range Style */

.lo-view-detail-top {font-size:12px;margin-bottom:35px;}
/*LOS*/
.lo-view-detail-top .table {
	border: 1px solid #ccc;
	background-color: #f2f4f6;
	
	-webkit-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	box-shadow: 3px 3px 3px 0px rgba(191,189,191,1);
	}
.lo-view-detail-top .table td {width:16.66%;border:none;}
.test-lists .card {
	border-radius:0;
	margin-bottom:5px;
	
	background-color: #f2f4f6;
	
	}
.test-lists .card-header {border-radius:0;padding:5px 10px;background-color:#d6d7d7;}
.test-lists .card-body {padding:10px;}
.test-lists .card-header a {color:#000;font-size:14px;display:block;}
.test-lists .card-body .table {font-size:12px;}
.test-lists .card-body .table thead {font-size:12px;}

.test-lists .card-body .table td:nth-child(1) {width:10%;}
.test-lists .card-body .table td:nth-child(2) {width:25%;}
.test-lists .card-body .table td:nth-child(3) {width:10%;}
.test-lists .card-body .table td:nth-child(4) {width:10%;}
.test-lists .card-body .table td:nth-child(5) {width:10%;}
.test-lists .card-body .table td:nth-child(6) {width:10%;}
.test-lists .card-body .table td:nth-child(7) {width:25%;}
.test-lists .card-body .table tbody tr:hover {cursor:pointer;}

.tat-stamp {
	background-color:green;
	height:50px;
	padding:10px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-align:center;
}
.tat-stamp span {
	padding:0 6px 0 3px;
	font-size: 14px;
	font-weight:normal;
	color:#ccc;
}
.tat-stamp span:last-child {padding-right:0;}
.lo-topR-wrapper {background-color:#fff;padding-top:9px;padding-bottom:9px;margin-bottom:20px;}
.lo-topR-wrapper h6 {
	text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.lo-topR:first-child {padding-right:5px;}
.pl5 {padding-left:5px;}
.progress-div {margin-top:15px;}
.lo-topR h6 {
	font-size:14px;
	font-weight:bold;
	text-align: right !important;
	text-transform:uppercase;
	
}
.status-stamp {
	background-color:#868e96;
	height:50px;
	padding:10px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
}
/**/
.history {
	background-color: #fff;
	padding: 15px;
    margin-bottom: 20px;
}
.history h6 {text-align:right;text-transform:uppercase;font-size:14px;font-weight:bold;}
.history-inner {max-height:700px;overflow-y:auto;padding:10px 10px 10px 0;}
.stages-wrapper {background-color:#f2f2f2; margin-bottom:5px;}
.stages {
	/* background-color:#F2F2F2; */
	padding:10px 10px 10px 30px;
	position: relative;
	border: 1px solid #ddd;
	
}
.stages::before{
	border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background-color: #aaa;
    content: "";
	position: absolute;
    height: 15px;
    left: 7px;
    top: 14px;
    width: 15px;
    z-index: 12;
}
.stages::after{
	background: #aaa;
    border-radius: 2px;
    bottom: -24px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
	position: absolute;
    left: 13px;
    width: 4px;
    z-index: 11;
}
.stages h6 {
	font-size: 16px;
    text-align: left;
	margin-bottom:0;
}
.stages p {
	font-size: 13px;
	margin-bottom:0;
}
.toggle-wrap {display:block;cursor:pointer;}
.stages-inner-item {margin-bottom:10px;}
.stages-inner-item .date-stamp, .stages-inner-item .user-map {color: #868e96;}
.stages-inner-item .msg-content {color:#000;}
.chat-box img {
	width:40px;
	height:40px;
	padding-top: 5px;
} 
.report-ready {background-color:#868e96;}
.report-ready .stages {color:#fff;}
.report-ready .stages::before {border:3px solid #f3f4f5;}
.report-ready .stages::after{height:15px;bottom:30px;}

.chat-box-ui h6 {font-weight:bold;font-size:14px;text-align:right;text-transform:uppercase;margin-top:20px;}
.chat-footer {padding-top:10px;}
.chat-footer input {margin-top:0;}
.chat-footer select {margin-bottom:10px;}
.chat-footer button {
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.chat-box-ui .nav-pills .nav-link.active, .chat-box-ui .nav-pills .show>.nav-link {background-color:#868e96;}
#lo-view {display:none;}
.lo-back {text-align: right;margin-bottom:20px;}
.results .table td, .table th {border-top: none;}
.results {padding:15px;margin-bottom:15px;}
.results .table {font-size:12px;}
.results h6 {text-align:right;text-transform:uppercase;font-size: 14px;
    font-weight: bold;}
.btn-area {display:block;text-align:right;margin-bottom:10px;}
.err-msg {color:#ed3237;font-size:13px;clear:both;display:block;}
.custom-checkbox {margin-bottom:0;}


/*Pending Lab Orders - Doctor Requests*/
/* #dr-req  .table td:nth-child(1) {width:3%;}
#dr-req  .table td:nth-child(2) {width:17%;}
#dr-req  .table td:nth-child(3) {width:10%;}
#dr-req  .table td:nth-child(4) {width:20%;}
#dr-req  .table td:nth-child(5) {width:10%;}
#dr-req  .table td:nth-child(6) {width:20%;}
#dr-req  .table td:nth-child(7) {width:20%;} */
#dr-req  .table tbody tr:hover {cursor:pointer;}

#dr-req .penO-chkbx {margin:5px;}
.tab-pane {padding-top:10px;}
.lo-crtBtn-wrap {text-align:right;padding:10px 0;}

#mdl-create-lo .modal-dialog {max-width:1000px;}
.pat-det {display:none;margin-top:10px;}
.pat-det p {width:50%;display:inline;font-size:14px;margin-bottom:0;}

.search-field-td-wrap .modal-lo-create {display:block;width: 300px;}
.pat-det-line-wrapper {font-weight:bold;}
.test-list-table {font-size:12px;margin-top:10px;}
.ptd-Left {padding-right:10px;font-weight:normal;}
.tubes-details p span {width:100px;display:inline-block;}
.tubes-details p {text-align:center;}
.token p {font-size:16px;margin-bottom:0;}
.token .barcode-txt {margin:5px 0;font-weight:bold;text-transform:uppercase;}
.wiz1 .search-field-td {width:500px;}
.wiz1 .modal-lo-create {width:500px;}
.wiz2 {
	width: 300px;
    text-align: center;
}
.barcodeDiv .modal-dialog {
	width:350px;
}
.token .token-no {font-weight:bold;padding-left:10px;}
.barcodeDiv .modal-header {text-align:center;display:block;}
.send-mc-msg {display:inline-block;}
.walkin-pat {margin:20px 0;display:none;}

#lo-list-wrap > .nav-pills .nav-link.active, #lo-list-wrap > .nav-pills .show>.nav-link {background-color: #868e96;}
.test-list-patient {font-size:14px;font-weight:normal;margin:20px 0;}
.lab-select {background-color:#f2f4f6;padding:10px;font-weight: normal;}
.table-lo-list table {font-size:14px;}
.lo-cancel {/* display:none; */}
.cancel-icon i {padding:3px;cursor:pointer;}

/*Barcode Tubes*/
.tubes-details table {margin-bottom:10px;}
.tubes-types-ro input { text-align: center; }
.tubes-types-ro input:read-only {background-color:#fff;border:none;}
.tubes-types-ro .form-control:focus {box-shadow: none;}
.btn-group-tube-edit {text-align:right;margin-bottom:20px;}
.btn-group-tube-edit .saveTubes {display:none;}

.td-desc-lang {display:block;color:blue;}

/*Lab Order Detail - Test Details*/
#lo-det-test-de-wrapper {
	font-size: 12px;

}
#lo-det-test-det-wrapper table td {border:none;}
.pkg-icon {font-size:20px;padding-top:15px;padding-right:10px;}
.pkg-test-h6 {padding:10px;background-color:#e6e6e6;}
.pkg-test-h6 h6 {color:#7c7c7c;font-size:14px;font-weight:bold;margin-bottom:0;}
#lo-det-test-det .td1 {width:25%;}
#lo-det-test-det .td2 {width:15%;}
#lo-det-test-det .td3 {width:20%;}
#lo-det-test-det .td4 {width:20%;}
#lo-det-test-det .td5 {width:20%;}

.test-result-inner td:nth-child(1) {width:4% !important;}
.test-result-inner td:nth-child(2) {width:11% !important;}
.test-result-inner td:nth-child(3) {width:15% !important;}
.test-result-inner td:nth-child(4) {width:20% !important;}
.test-result-inner td:nth-child(5) {width:25% !important;}
.test-result-inner td:nth-child(6) {width:15% !important;}

/*LO Result Top Table*/
#mstrTable td:nth-child(1) {width:10%;}
#mstrTable td:nth-child(2) {width:20%;}
#mstrTable td:nth-child(3) {width:10%;}
#mstrTable td:nth-child(4) {width:10%;}
#mstrTable td:nth-child(5) {width:10%;}
#mstrTable td:nth-child(6) {width:10%;}
#mstrTable td:nth-child(7) {width:10%;}
#mstrTable td:nth-child(8) {width:20%;}

.card-header {position:relative;}
.lo-test-select {
	position:absolute;
	right:10px;
	top:10px;
}



/*navigate through table using arrow keyi*/
#mstrTable tr.normal td {
    color: black;
}
#mstrTable tr.highlighted td {
    color: black;
    background-color: rgba(0,0,0,.075);
}

#mstrtbl2 tr.normal td {
    color: black;
}

#mstrtbl2 tr.highlighted td {
    color: black;
    background-color: rgba(0,0,0,.075);
}
/* /-navigate through table using arrow keyi*/

/* Snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    /* background-color: #333; */
	background-color: #ed3237;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* /Snackbar */


/* version2 */

/***** Orginal Color Code ********/

.main-wrapper {
    background-color: #868e96;
}

.menuwrapper {
    color: #fff;
}

.menu-btn {
    color: #fff;
}

.exp-btn {
    color: #fff;
}
.logo-btn{
    padding: 10px 20px;
    background: #c0392b;
    height: 60px;
    display: inline-block;
}

.sidebar {
    background-color: #404545;
}

.form-control:focus {
    border-color: #ed3237;
	box-shadow: 0 0 0 0.2rem rgba(237,50,55,.25);
}

#btn-container #btn-set-wrap .btn {
    background-color: #ddd !important;
}

.done .checkBtn {
      color: #acff2f;
}

.pkg-done-icon{
   color: #868e96; 
}

.content-area {
    background-color: #e6e6e6;
}

.hidden-menu .content-area {
    background-color: #e6e6e6;
}

.sidebar-top {
    background-color: #868e96;
}

.sidebar-bottom .active,
.sidebar-bottom .active:hover {
    background-color: #e6e6e6;
}

.sidebar-bottom a:hover {
    background-color: #676c6e;
}

.content-area-top {
    background-color: #e74c3c;
}

.content-area-bottom {
    background: #ffffff;
}

.splitter {
    background-color: #dfe4e8;
}

.panel-right {
    background: #f6f7f7;
}

.panel-left {
    background: #f2f4f6;
}

.td-wrapper {background-color: #f2f4f6;}

.logged-user .dropdown-menu {
    background-color: #fff;
}

.content-area-bottom {
    background: #ffffff;
}

.btn-container {
    background-color: #fff;
}

.btn-canvas {
    background-color: #fff;
}

.data-canvas {
    background-color: #fff;
}

.work-pad-wrapper {
    background-color: #fff;
}

#work-pad .btn {
    background-color: #ffc107;
    border-color: #ffc107;
}

#work-pad .done.btn {
    background-color: #28a745;
    border-color: #28a745;
}

.activeLeftBtn,
.activeLeftBtn:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.drag-btn-behind {
    background-color: #cccccc;    
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #ed3237;
}

.search-field-pkg .search-pkg-reset {
    background-color: #fff;
}

.btn-container-active  {
	border-color: #868e96;
}

.bdrActive {
    border-color: #868e96;
}

.test-pkg-list li {
    background: #F6F6F6;
}

.page-item.active .page-link {
    background-color: #ed3237;
    border-color: #ed3237;
}

.btn-danger {
    background-color: #ed3237;
    padding: 5px 10px;
}

.scrollbar {
    background-color: #fff;
}

#style-1::-webkit-scrollbar {
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    //  background-color: #000000;
    background-color: #868e96;

}

#style-1::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

/* notifications */

.jq-icon-info {
    background: rgba(16, 203, 204, .9);
}

.jq-toast-loader {
    background: red;
}

/***** color codes gayani *********/

.lab-details-view {
    background-color: #F2F2F2;
}

.test-order-tbl thead {
        background-color: #fff;
}

.test-order-tbl tbody tr {
    background-color: #e6e6e6;
   
}

.test-order-tbl tr.collapse.show {
 
    background-color: #f5f5f5;
  
}

.message-item .message-inner {
    background: #F2F2F2;
}

.qa-message-list div.message-item:last-child .message-inner{
    background: rgba(134, 142, 150, 0.83);
}

.message-item:before{
     background: #aaa;
}

.message-item:after{
    background: #aaa;
}

.right-side-container {
    background-color: #f2f4f6;
    
}

.timeline-component, .total-time, .results {
    background-color: #fff;

}

#time-cal{
    background-color: #70AD47;
}

.task-progress-grey {
    background-color: #7F7F7F;
}

.task-progress-red {
    background-color: red;
}

.results tbody tr {
   background-color:#e6e6e6; 
/*    border: 3px solid #fff;*/
}

.results .table-hover tbody tr:hover, .test-order-tbl.table-hover tbody tr:hover.clickable{
    background-color: rgba(0,0,0,.2);
}

.orange {
    background-color: orange;
}

.light-orange {
    background-color: rgba(237, 170, 46, 0.76);
}
.dynamic-content {background-color:#f2f4f6;}