
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  /*
   * Typography
   */
  *{
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  a{
      color: #e74c3c;
  }
  a:hover, a:focus{
      text-decoration: none;
  }
  
  /* Images */
  img {
      vertical-align: middle;
  }
  
  /* Material Icons */
  .material-icons{
      vertical-align: middle;
  }
  .rotatesearcharrow i{
      transform: scaleX(-1) !important;
      -moz-transform: scaleX(-1) !important;
      -webkit-transform: scaleX(-1) !important;
      -ms-transform: scaleX(-1) !important;
  }
  tbody.row-group tr td i.arrow-right{
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
  
  tbody.row-group.row-expand tr td i.arrow-right{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  tbody.row-group{
      cursor: pointer;
  }
  /* Profile section in Top Nav*/
  .profile-dropdown{
      transition: 0.3s;
  }
  .profile-dropdown .dropdown{
      padding-top: 10px;
      padding-bottom: 10px;
  }  
  .profile-dropdown li:hover,.profile-dropdown li:focus{
      color: #000;
  }
  .dropdown.show .dropdown-menu{
      width: 100%;
      border-radius: 0px;
      padding: 0px;
  }
  .dropdown.show .dropdown-menu .dropdown-item{
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 14px;
  }
  
  .profile-pic img {
      margin-right: 10px;
  }
  .img-circle {
      border-radius: 50%;
  }
  
  
  /* Navbar */
  .bg-dark{
      background-color: #e6e6e6 !important;
      padding: 0px;
      z-index: 2;
  }
  .navbar-top-links>li>a {
      color: #7c7b7b;
      padding: 0 12px;
      font-weight: 600;
      font-size: 0.8rem;
  }
  .navbar-top-links>li>a:hover,.navbar-top-links>li>a:focus{
      color: #000;
  }
  .navbar-brand {
      padding: .5rem;
      background-color: #858e96;
  }
  a.open-close{
   color: #7c7b7b;   
  }
  
  /* breadcrum */
  .breadcrumcsi{
      background-color: #fff;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
      font-size: 14px;
      font-weight: 600;
  }
  
  
  /* Card styles */
  .card-header-name{
      display: inline-block;
  }
  .card-header{
      padding: 0rem;
      background-color: #e6e6e6;
      border: none;
  }
  .card-header-name{
      padding: .45rem 0.9rem;
      font-weight: 600;
  }
  .card-header-config{
      
      display: inline-block;
      vertical-align: middle;
  }
  .card-header-config a{
      padding: .5rem;
      color: #676868;
      display: inline-block;
      transition: 0.3s;
  }
  .card-header-config a:hover,.card-header-config a:focus{
      background-color: #d6d8d8;
  }
  .crud-area .card-group .card[class*='col-']{
      padding: 0px;
  }
  .card-header-config .dropdown-menu{
      font-size: 0.8rem;
      border-radius: 0px;
      padding: 0px;
  }
  .search-card .card-body{
      padding: .5rem 0.9rem;
  }
  
  /* widgets */
  .hidden-menu .widget-box .widget-img{
      display: inline-block;
      float: left;
  }
  .hidden-menu .widget-box .widget-details{
      display: inline-block;
      float: right;
      text-align: right;
  }
  .hidden-menu .widget-box .widget-details h6{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
  }
  .widget-box{
      background-color: #03a9f3;
      color:#fff;
      padding: 0.5rem;
      border-radius: 3px;
  }
  .widget-box .widget-img{
      display: block;
      float: none;
      text-align: center;
  }
  .widget-box .widget-details{
      display: block;
      float: none;
      text-align: center;
  }
  .widget-box .widget-details h6{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      margin-bottom: 0px;
      margin-top: 10px;
  }
  .widget-box .widget-details h3{
      font-weight: bold;
      margin-bottom: 0px;
  }
  .medal-staff{
      text-transform: uppercase;
      font-weight: 600;
  }
  
  /* form styles */
  .col-form-label{
      font-weight: 600;
      font-size: 0.8rem;
      padding-bottom: 0px;
  }
  .form-control{
      font-size: 0.8rem;
      border-bottom: 1px solid #ddd;
      padding: 5px;
      /*border: none;
      padding-left: 0px;
      border-radius: 0px;*/
  }
  .form-control:focus,.form-control:active{
      outline: none;
      box-shadow: none;
  }
  .datepickerwrapper .input-group-text{
      /*background:none;
      border:none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0px;
      padding-bottom: 2px;
      padding-right: 0px;*/
  }
  .card-footer.search-btn{
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .search-card .form-control{
      /*padding-top: 0px;*/
  }
  .search-card .form-group{
      margin-bottom: 5px;
  }
  .custom-control-input:focus~.custom-control-label::before{
      box-shadow: none;
  }
  
  select.form-control:not([size]):not([multiple]) {
      height: calc(2.1rem + 0px);
  }
  .periodwrapper select.form-control-sm:not([size]):not([multiple]){
      font-size: 0.7rem;
      border: none;
      outline: none;
      /*border-bottom: 1px solid #ced4da;*/
      border-radius: 0px;
      height: calc(1.5125rem);
      padding-left: 0px;
  }
  
  /* table styles */
  table{
      font-size: 0.8rem;
  }
  .table{
      border: 1px solid #dee2e6;
  }
  .table thead{
      background-color: #f7f9fb;
  }
  .table thead th{
      font-weight: normal;
      color: #9fa5aa;
      border-bottom: none;
      vertical-align: text-top;
  }
  .table-striped tbody tr:nth-of-type(odd){
      background:none;
  }
  .table-striped tbody tr:nth-of-type(even){
      background-color: #f7f9fb;
  }
  .action-col{
      white-space: nowrap;
  }
  .action-link{
      color: #03a9f3;
      margin-right: 5px;
  }
  .action-link i{
      font-size: 20px;
  }
  .action-link.delete i{
      font-size: 24px;
  }
  .action-link.delete{
      color: #e74c3c;
  }
  .action-link:hover,.action-link:focus{
      text-decoration: underline;
  }
  tbody.collapse.show{
      border-top: none;
  }
  
  /* pagination */
  .pagination{
      font-size: 0.8rem;
      margin-bottom: 0px;
  }
  .page-item.active .page-link{
      background-color: #ed3237;
      border-color: #ed3237;
  }
  .page-item .page-link{
      color:#03a9f3;
  }
  
  /* config section dropdown */ 
  .card-header-config .dropdown-menu{
      padding: 5px;
  }
  .card-header-config .dropdown-menu ul{
      list-style: none;
      padding-left: 0px;
  }
  .card-header-config .dropdown-menu ul li{
      background-color: #f0f4f7;
      padding:2px 10px;
      border: 1px solid #cccccc;
      margin-bottom: 5px;
  }
  .card-header-config .dropdown-menu ul li .custom-control-label{
      vertical-align: middle;
  }
  .custom-checkbox .custom-control-label::before{
      border-radius: 0px;
  }
  .custom-checkbox .custom-control-label::before{
      border: 1px solid #ccc;
      background: #fff;
  }
  
  /* button styles */
  button:focus,button:active{
      outline: none;
      box-shadow: none !important;
  }
  .btn{
      border-radius: 0px;
      font-size: 0.9rem;
      padding: .375rem 1rem;
  }
  
  /* Drag and drop elements */
  .dragdropfilters{
      border: 1px solid #ddd;
      font-size: 0.8rem;
      padding: 5px;
      min-height: 300px;
      max-height: 300px;
      overflow-y: auto;
  }
  .dragdropfilters ul{
      list-style: none;
      padding-left: 0px;
  }
  .dragdropfilters ul li{
      background-color: #f0f4f7;
      padding: 2px 10px;
      border: 1px solid #cccccc;
      margin-bottom: 5px;
  }
  .droppablearea{
      border: 2px dashed #ccc;
      min-height: 300px;
      max-height: 300px;
      padding: 10px;
      overflow: auto;
      position: relative;
  }
  .dropablearea-textdisplay{
      display: flex;
      align-items: center;
      color: #ccc;
      text-align: center;
  }
  .droppablearea .droptext{
     margin: 0px auto;
  }
  
  /* worklist form */
  .worklistform{
      font-size: 0.75rem;
  }
  .worklistform .form-group .col-form-label{
      padding-top: 0px;
      font-size: 0.75rem;
  }
  .worklistform .form-group{
      margin-bottom: 5px;
  }
  .worklistform .form-group .form-control{
     /* padding-top: 0px;*/
  }
  
  /* custom styles for jquery */
  .crud-area .card-group .card.borderadded {
      border-left: 1px solid rgba(0,0,0,.125);
  }
  .hiddendiv{
      display: none;
  }
  
  
  .filterelement-row:first-child{
      padding-left: 0px;
  }
  .filterelement-row{
      padding-left: 40px;
      position: relative;
  }
  .filterelement{
      display: inline-block;
      background-color: #f0f4f7;
      padding: 2px 10px;
      border: 1px solid #cccccc;
      margin-bottom: 5px;
      font-size: 0.75rem;
      min-width: 275px;
  }
  .next-step-icon{
      display: inline-block;
      position: absolute;
      left: 10px;
      color: #a0a0a0;
  }
  .filterheader{
      font-size: 0.7rem;
      background-color: #1abc9c;
      display: inline-block;
      padding: 1px 8px;
      border: 1px solid #ccc;
      color: #fff;
      cursor: pointer;
      bottom: -2px;
      border-bottom: none;
      position: relative;
  }
  .filterheader i{
      font-size: 0.8rem;
      vertical-align: middle;
  }
  .filterelementvalue{
      display: inline-block;
      background-color: #03a9f3;
      border-radius: 3px;
      color: #fff;
      padding: 1px 5px;
  }
  .filterelementvalue span i{
      font-size: 18px;
      margin-left: 5px;
      transform: rotate(0.03deg);
  }
  
  .modal-header{
      padding: 0.5rem 1rem;
      background: #e74c3c;
      color: #fff;
  }
  .modal-header .close{
      color: #fff;
      text-shadow: none;
      opacity: 1;
  }
  
  .btn-danger{
      background:#ed3237; 
      border: 1px solid #ed3237;
      transition: 0.3s background ease;
  }
  .btn-danger:hover,.btn-danger:focus,.btn-danger:visited{
      background:#f5292f;
      border: 1px solid #f5292f;
  }
  .btn-danger:not([disabled]):not(.disabled):active{
      background:#f5292f; 
      border: 1px solid #f5292f;
  }
  
  /* multiselect dropdown */
  
  .form-control.select2-container .select2-choices{
      background: none;
  }
  .form-control.select2-container-active .select2-choices{
      box-shadow: none;
  }
  .select2-results{
      font-size: 0.8rem;    
  }
  .select2-container-multi .select2-choices .select2-search-field input.select2-input{
      /*padding-left: 0px;*/
      font-size: 0.8rem;    
  }
  .select2-container-multi .select2-choices .select2-search-choice{
      background: #03a9f3;
      border: 1px solid #03a9f3;
      color: #fff;
      box-shadow: none;
      padding: 3px 18px 3px 5px;
      margin: 5px 0 3px 5px;
  }
  .select2-search-choice-close{
      top:3px;
      left: unset !important;
      filter: brightness(0) invert(1);
  }
  .card-header-config .config-link-text{
      font-size: 0.8rem;
      padding: 12px;
      cursor: pointer;
  }
  .average-total-claims{
      font-size: 0.9rem;
      position: absolute;
      bottom: 0px;
      right: 5px;
  }
  .notify-icon{
      color: #7c7b7b;
      padding-right: 10px;
      padding-left: 10px;
      cursor: pointer;
  }
  .notify-icon i{
      margin-top: 5px;
  }
  .logo h3{
      font-weight: 600;
      margin-bottom: 0px;
      line-height: 1;
  }  
  .logo p{
       margin-bottom: 0px;
       line-height: 1;
  }
  .logo p small{
    font-size: 0.8rem;  
  }
  .form-control.singal-datepicker,.form-control.datepicker{
      padding-top: 3px;
      padding-bottom: 3px;
  }
  .createNewTitle{
      font-weight: 600;
  }  
  .btn-group-toggle .btn-primary{
      background-color: #0062cc !important;
      border-color: #0062cc !important;
  }
  .btn-group-toggle .btn-secondary.active{
      background-color: #ed3237 !important;
      border-color: #ed3237 !important;
  }
  .btn-group-toggle .btn-secondary.active.focus{
      box-shadow: none !important;
  }
  .createNewForm .form-group{
      margin-bottom: 0px;
  }
  .single_claim_header .card-header .card-header-name{
      padding: .45rem 0.45rem;
  }
  .single_claim_header .card-body{
      padding: .45rem 0.45rem;
  }
  .single_claim_header .form-group .inline-label,.single_claim_header .form-group .col-form-label{
      margin-bottom: 2px;
      font-size: 0.7rem;
      padding-right: 0rem;
  }
  .inline-label{
      padding-top: calc(.25rem + 1px);
      line-height: 1.5;
  }
  .single_claim_header .inline-label.text-lg{
      font-size: 1rem;
  }
  .single_claim_header .form-group {
      margin-bottom: 0rem;
  }
  .single_claim_header .form-control{
      font-size: 0.7rem;
      padding: 3px;
  }
  .single_claim_header select.form-control:not([size]):not([multiple]) {
      height: calc(1.5rem + 0px);
      margin-bottom: 3px;
  }
  .card-header-buttons{
      display: inline-block;
      padding: .45rem 0.9rem;
  }
  .card-header-buttons .btn.btn-sm{
      font-size: 0.75rem;
      padding: 0.25rem 0.375rem;
  }
  .nowrap{
      white-space: nowrap;
  }
  .table thead th, .table tbody td{
      font-size: 0.7rem;
  }
  .table tbody td i.material-icons{
      font-size: 21px;
  }
  .single_claim_body .card-body{
      padding: 0.5rem;
  }
  .diagnosis-box{
      max-height: 300px;
      overflow-y: auto;
      font-size: 0.8rem;
  }
  .diagnosis-box p{
      margin-bottom: 5px;
  }
  .diagnosis-box i.material-icons{
      font-size: 18px;
      transform: rotate(0.03deg);
      
  }
  .diagnosis-box a:focus{
      outline: none;
  }
  .activitylistgrid{
      position: relative;
  }
  .activitylistgrid.col-md-12{
      padding-right: 30px;
  }
  .activitylistgrid.col-md-12 .gridexpanbtn{
      right: 12px;
  }
  .activitylistgrid .gridexpanbtn{
      position: absolute;
      z-index: 1;
      right: -3px;
      background: #ed3237;
      color: #fff;
      width: 18px;
      height: 18px;
      cursor: pointer;
  }
  
  .activitylistgrid i.material-icons{
      font-size: 18px;
      vertical-align: top;
      transform: rotate(0.03deg);
  }
  .custom-control-label::before{
      top: .15rem;
  }    
  .custom-control-label::after{
      top: .15rem;
  }
  .diagnosisList ul{
      padding-left: 0px;
      list-style: none;
  }
  .diagnosisList ul li{
      background-color: #e6e6e6;
      font-size: 0.7rem;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      padding-top: 3px;
  }
  
  .diagnosisList ul li .badge{
      font-size: 0.65rem;
      margin-bottom: 3px;
      padding-bottom: 5px;
      padding-top: 5px;
      cursor: pointer;
  }
  .width35{
      max-width: 35px;
  }
  .width50{
      max-width: 50px;
  }
  .width70{
    max-width: 70px;
  }
  .alert{
      font-size: 0.8rem;
      padding: 0.4rem;
  }
//   .rightside_panel{
//       position: fixed;
//       right: -500px;
//       top: 60px;
//       z-index: 1;
//       width: 500px;
//       height: 100%;
//       transition: right 0.5s ease;
//       background: #fff;
//       -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
//       -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
//       box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
//   }
//   .rightside_panel.panel_active{
//       right: 0px;
//   }
//   .rightside_panel_header{
//       background-color: #f5292f;
//       color: #fff;
//       padding: 8px;
//       font-weight: 600;
//   }
//   .rightside_panel_header a{
//       color: #fff;
//   }
//   .rightside_panel_icon{
//       background-color: #f5292f;
//       width: 35px;
//       height: 40px;
//       position: absolute;
//       top: 0px;
//       left: -34px;
//       text-align: center;
//       padding: 10px 8px;
//       cursor: pointer;
//       border-radius: 3px 0px 0px 3px;
//   }
//   .rightside_panel_icon.img_icon{
//       padding: 5px;
//   }
//   .rightside_panel_icon i{
//       color: #fff;
//       font-size: 18px;
//       transform: rotate(0.03deg);
//   }
//   .panel_active .rightside_panel_icon{
//       display: none;
//   }
//   .rightside_panel_buttons .rightside_panel_icon{
//       position: absolute;
//       right: 0px;
//   }
//   .error-circle{
//       width: 18px;
//       height: 18px;
//       border-radius: 50%;
//       background-color: #fff;
//       color: #f5292f;
//       font-size: 0.75rem;
//   }
//   .rightside_panel_body{
//       padding: 15px;
//   }
  .font-weight-normal{
      font-weight: normal !important;
  }
  .summary-error-link{
      font-size: 0.75rem;
      text-decoration: underline;
      display: block;
      margin-top: -3px;
      padding-left: 7px;
  }
  .custom-checkbox-sm{
      font-size: 0.8rem;
  }
  .male-circle{
      margin-top: -3px;
      font-size: 21px;
      color: #007bff;
  }
  .female-circle{
      margin-top: -3px;
      font-size: 21px; 
  }
  .single_claim_header .form-group .inline-label{
     font-size: 0.8rem;
  }
  .single_claim_header select.form-control:not([size]):not([multiple]){
      height: calc(1.8rem + 0px);
      margin-bottom: 6px;
  }
  .single_claim_header .form-control{
      font-size: 0.8rem;
  }
  .single_claim_header .inline-label.text-lg {
      font-size: 1rem;
      padding-top: 0px;
  }

.k-grid a{
    color: #03a9f3 !important;
    white-space: nowrap !important;;
}

.k-grid th, .k-grid td{
    padding: 0.5rem !important;;
} 
.k-grid a.delete{
    color: #e74c3c !important;
}
/*
.k-grid th, .k-grid td{
    width: 200px !important;
}*/

.k-grid-header .k-header > .k-link{
    color: #9fa5aa !important;
    font-size: 0.75rem;
}
.k-grid td{
    padding: 0px !important;
    font-size: 0.75rem;

}
.k-pager-wrap .k-link, .k-pager-wrap .k-state-selected {
    padding: 0.3rem !important;
    width: calc(0.8em + 2px)!important;
    height: calc(0.8em + 2px)!important;
}
.k-pager-wrap .k-label{
    font-size: 0.75rem;
}
.k-pager-numbers .k-state-selected.k-link{
    color: #fff !important;
}
.label-hidden .form-group label{
    display: none;
}
// .rightside_panel{
//     z-index: 2 !important;
// }
// .rightside_panel_buttons{
//     right: 0px !important;
// }
.rightside_panel_icon{
     width: 35px !important;
     height: 40px !important;
 }
// .rightside_panel_body {
//     max-height: 85% !important;
// }
// .rightside_panel{
//     top: 55px !important;
// }
html{
    overflow-x: hidden;
}

.rightside_panel{
    top: 55px !important;
}
a{
    cursor: pointer;
}
.rightside_panel_icon img{
    top: -5px;
    right: 2px;
    position: relative;
} 
.rightside_panel_buttons{
    right: 0px;
}