<div class="card-header">
    <div class="row">
        <div class="col-md-2">
            <div class="card-header-name">Invoices ({{totalNumberOfInvoices}})</div>
        </div>
        <div class="col-md-5">
            <div class="card-header-buttons">
                <button class="btn btn-primary btn-sm">Send e-Auth</button>
                <button class="btn btn-primary btn-sm">Modify e-Auth</button>
                <button class="btn btn-primary btn-sm">Receive e-Auth</button>
                <button class="btn btn-secondary btn-sm">Cancel e-Auth</button>
            </div>
        </div>

        <div class="col-md-4 text-right">
            <div class="card-header-buttons">
                <button class="btn btn-danger btn-sm">Run CEED</button>
                <button class="btn btn-danger btn-sm">Run 3M</button>
                <button class="btn btn-danger btn-sm">Run System Validations</button>
            </div>
        </div>
        <div class="col">
            <div class="card-header-config float-right keep-open">
                <a class="" href="#" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
            </div>
        </div>
    </div>
</div>



<div class="card-body collapse show" id="collapsewidgetpanel">
    <div class="row">
        <div [ngClass]="{'col-md-9':!isToggled,
           activitylistgrid:true,'col-md-12':isToggled}">
            <div (click)="toggleGrid()" [ngClass]="{'gridexpanbtn':true, 'rotatesearcharrow':isToggled}"><i class="material-icons">chevron_right</i></div>
            <div class="table-responsive">
                <!--grid-->
                <csi-grid [data]="dataSet" [columns]="columns" [options]="gridOptions" (onRowClick)="rowClicked($event)"></csi-grid>
                <!--<ng-template #thumbnailTemplate let-data="item">
                  <img src="{{data.thumbnailUrl}}" width="30" alt="image">
              </ng-template>
              <ng-template #albumCellTemplate let-dataItem="item">
                  <select class="form-control" (change)="updateDataRow($ , dataItem)">
                      <option *ngFor="let album of albumsDataList" [value]="album.id" [selected]="album.id == dataItem.albumId">{{album.title}}</option>
                  </select>
              </ng-template>
              <ng-template #albumCellEditTemplate let-dataItem="item" let-formGroup="formGroup">
                  <select class="form-control" [formControl]="formGroup.get('albumId')">
                      <option *ngFor="let album of albumsDataList" [value]="album.id" [selected]="album.id == dataItem.albumId">{{album.title}}</option>
                  </select>
              </ng-template>-->

                <ng-template #layer1Template let-dataItem="item" let-formGroup="formGroup">
                    <csi-grid [data]="dataItem.invoices" [columns]="columns2" [options]="gridOptions2"></csi-grid>
                </ng-template>
                <ng-template #layer2Template let-dataItem="item" let-formGroup="formGroup">
                    <a href="#" title="Add Activity"><i class="material-icons">add_circle</i></a>
                    <a href="#" title="Merge Invoice"><i class="material-icons">swap_vertical_circle</i></a>
                    <csi-grid [data]="dataItem.encounterActivities" [columns]="columns3" [options]="gridOptions3">
                    </csi-grid>
                </ng-template>
                <ng-template #cellDisplayTemplate let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="dataItem.performedStatus == 'Not-Performed'">
                    <i class="material-icons text-warning">cancel</i>
                </span>
                    <span *ngIf="dataItem.performedStatus == 'Performed'">
                    <i class="material-icons text-success">check</i>
                </span>
                </ng-template>
                <ng-template #emptyTemplate let-dataItem="item" let-formGroup="formGroup">
                    <span></span>
                </ng-template>
                <ng-template #cellHideTemplate let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem); else isNotAnActivity5">
                        <span>{{dataItem.id}}</span>
                    </span>
                    <ng-template #isNotAnActivity5>
                        <span>cccccc</span>
                    </ng-template>
                </ng-template>
                <ng-template #cellBoldTemplate1 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="!validateActivity(dataItem); else isAnActivity1">
                            <b><span>{{dataItem.grossAmount | number : '1.2'}}</span></b>
                    </span>
                    <ng-template #isAnActivity1>
                        <span>{{dataItem.grossAmount | number : '1.2'}}</span>
                    </ng-template>
                </ng-template>
                <ng-template #cellBoldTemplate2 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="!validateActivity(dataItem); else isAnActivity2">
                                <b><span>{{dataItem.netAmount | number : '1.2'}}</span></b>
                    </span>
                    <ng-template #isAnActivity2>
                        <span>{{dataItem.netAmount | number : '1.2'}}</span>
                    </ng-template>
                </ng-template>
                <ng-template #cellEditTemplate1 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem); else isNotAnActivity1">
                      <input class="width70 text-right" type="text" (input)="valueChange(dataItem, 'discount', $event)" value="{{dataItem.discount}}">
                  </span>
                    <ng-template #isNotAnActivity1>
                        <b><span>{{dataItem.discount | number : '1.2'}}</span></b>
                    </ng-template>
                </ng-template>
                <ng-template #cellEditTemplate2 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem); else isNotAnActivity2">
                      <input class="width70 text-right" type="text" (input)="valueChange(dataItem, 'companyShare', $event)" value="{{dataItem.companyShare}}">
                  </span>
                    <ng-template #isNotAnActivity2>
                        <b><span>{{dataItem.companyShare | number : '1.2'}}</span></b>
                    </ng-template>
                </ng-template>
                <ng-template #cellEditTemplate3 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem); else isNotAnActivity3">
                      <input class="width70 text-right" type="text" (input)="valueChange(dataItem, 'patientShare', $event)" value="{{dataItem.patientShare}}">
                  </span>
                    <ng-template #isNotAnActivity3>
                        <b><span>{{dataItem.patientShare | number : '1.2'}}</span></b>
                    </ng-template>
                </ng-template>
                <ng-template #cellEditTemplate4 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem); else isNotAnActivity4">
                      <input class="width35 text-right" type="number" (input)="valueChange(dataItem, 'quantity', $event)" value="{{dataItem.quantity}}">
                  </span>
                    <ng-template #isNotAnActivity4>
                        <b><span>{{dataItem.quantity}}</span></b>
                    </ng-template>
                </ng-template>
                <ng-template #cellEditTemplate5 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                      <input class="width35 text-right" type="text" (input)="valueChange(dataItem, 'discountPercentage', $event)" value="{{dataItem.discountPercentage}}"> %
                  </span>
                </ng-template>
                <ng-template #cellEditTemplate6 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                      <input class="width35 text-right" type="text" (input)="valueChange(dataItem, 'companySharePercentage', $event)" value="{{dataItem.companySharePercentage}}"> %
                  </span>
                </ng-template>
                <ng-template #cellEditTemplate7 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                        <input class="width35 text-right" type="text" (input)="valueChange(dataItem, 'patientSharePercentage', $event)" value="{{dataItem.patientSharePercentage}}"> %
                    </span>
                </ng-template>
                <ng-template #cellEditTemplate8 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                        <input class="width70 text-right" type="text" (input)="valueChange(dataItem, 'approvalCode', $event)" value="{{dataItem.approvalCode}}">
                    </span>
                </ng-template>
                <ng-template #cellLinkTemplate1 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                        <a data-toggle="modal" data-target="#observationremarks" (click)="openModalObservationRemark(observationRemarksModal, dataItem.observationRemarks)">View</a>
                    </span>
                </ng-template>
                <ng-template #cellLinkTemplate2 let-dataItem="item" let-formGroup="formGroup">
                    <span *ngIf="validateActivity(dataItem)">
                        <a data-toggle="modal" data-target="#userremarks" (click)="openModalUserRemark(userRemarksModal, dataItem.userRemarks)">View</a>
                    </span>
                </ng-template>
                <!--<ng-template #cellDropDownTemplate let-dataItem="item" let-formGroup="formGroup">
                  <select class="form-control" [formControl]="formGroup.get('albumId')">
                      <option *ngFor="let cptCode of cptCodeList" [value]="cptCode.id" [selected]="cptCode.id == dataItem.albumId">{{cptCode.title}}</option>
                  </select>
              </ng-template>-->
                <!--grid-->

            </div>
        </div>

        <div [ngClass]="{'col-md-3':true, 'activitygrid_rightside':true, 'hiddendiv':isToggled}">
            <div class="diagnosis-box">


                <p>Primary Diagnosis <a (click)="diagnosisForm()" title="Add Diagnosis"><i class="material-icons">add_circle</i></a></p>

                <div class="diagnosisList">
                    <ul>
                        <li><b>A00–B99</b> Certain infectious and parasitic diseases
                            <span class="badge badge-success" (click)="remarkDiagnosisForm()">Remarks</span></li>
                        <!-- <button class="btn btn-danger btn-block" (click)="diagnosisForm()">modal</button> -->
                    </ul>
                </div>


                <p>Secondary Diagnosis <a href="#" title="Add Diagnosis"><i class="material-icons">add_circle</i></a></p>
                <div class="diagnosisList">
                    <ul>
                        <li><b>G00–G99</b> Diseases of the nervous system <span class="badge badge-success">Remarks</span>
                        </li>
                        <li><b>H00–H59</b> Diseases of the eye and adnexa <span class="badge badge-success">Remarks</span>
                            <a href="#" title="Remove Diagnosis"><span class="remove-icon"><i class="material-icons">remove_circle</i></span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="summary-table">
                <div class="table-responsive">
                    <!-- CSI UIF developed grid -->
                    <!--<csi-grid [data]="dataSet" [columns]="columns"></csi-grid>-->
                </div>

            </div>

        </div>
    </div>
</div>

<!--modal-->
<ng-template #observationRemarksModal let-dataItem="item" let-formGroup="formGroup">
    <div class="modal-header">
        <h5 class="modal-title" id="diagnosisremarksModalLabel">Observation Remarks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
                            <span aria-hidden="true">×</span>
                          </button>

    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" rows="5">{{observationRemarks}}</textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="valueChange(dataItem, 'observationRemarks', $event)">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
    </div>
</ng-template>
<ng-template #userRemarksModal let-dataItem="item" let-formGroup="formGroup">
    <div class="modal-header">
        <h5 class="modal-title" id="fronofficeremarksModalLabel">User(Coding/Billing) Remarks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
                                      <span aria-hidden="true">×</span>
                                    </button>
    </div>
    <div class="modal-body">
        <form>

            <div class="form-group">

                <textarea class="form-control" disabled rows="5">{{userRemarks}}</textarea>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
    </div>
</ng-template>
<!--model-->

<!-- <div class="rightside_panel_header rotatesearcharrow">
          
      </div> -->