.k-grid th {
    border-width: 0 0 1px 1px !important;
    white-space: unset !important;
}

.k-grid-header .k-header {
    position: relative !important;
}

.k-grid th, .k-grid td {
    padding: 0.3rem !important;
}
