<!-- Following form  
1.Csi Customize grid Added
--> 

<!-- CSI UIF developed grid -->
<div class="row">
  <div class="col">
    <csi-grid [data]="dataSet" [columns]="columns" [options]="options"></csi-grid>
  </div>
</div>

<ng-template #appendDaysSTP let-data="item">{{data.submission_time_period | convertToDays }}</ng-template>
<ng-template #appendDaysRSTP let-data="item">{{data.resubmission_time_period | convertToDays }}</ng-template>
<ng-template #appendDaysPTP let-data="item">{{data.payment_time_period | convertToDays }}</ng-template>


<ng-template #convertToYesNoCoverLetter let-data="item">{{data.is_cover_letter_needed | ConvertToYesNo }}</ng-template>
<ng-template #convertToYesNoPrintOut let-data="item">{{data.is_printouts_needed | ConvertToYesNo }}</ng-template>
<ng-template #convertToYesNoPortal let-data="item">{{data.is_portal_needed | ConvertToYesNo}}</ng-template>


<ng-template #updateDelete  let-data="item">
  <span class="action-link" ><a [routerLink]="['/payerprofile',data.profile_id]"><i class="material-icons">mode_edit</i></a></span>
  <span class="action-link delete"  (click)="delete(data._id)" ><i class="material-icons">delete_forever</i></span>
</ng-template>

<ng-template #deletemodel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">RCM - Payer Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div   class="modal-body" >
    Do you want to delete the Payer Profile - {{worklistname}}
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="closeModel($event)" >Close</button>
    <button type="button" class="btn btn-danger"  (click)="deleteWorklist($event)">Delete</button>
  </div>
</ng-template>
