<div class="row mt-2 mb-2">
  <div class="col">

    <div class="form-group">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
        <label class="custom-control-label col-form-label" for="customRadio1">TEST Environment</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label col-form-label" for="customRadio2">PRODUCTION Environment</label>
      </div>

    </div>
  </div>
</div>
<div class="row mt-2 mb-2">
    <div class="col-md-6">
        
      <div class="form-group">
        <label class="col-form-label">Remarks</label>
        <textarea class="form-control" cols="4" rows="4"></textarea>
      </div>  
    </div>
  </div>