<div class="card">
  <div class="card-header">
    <div class="card-header-name">Summary of Claims</div> 
    <div class="card-header-config float-right keep-open">  
      <a class="" data-toggle="collapse" href="#collapsewidgetpanel"><i class="material-icons">visibility_off</i></a>    
      <a class="" href="#" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
        <div class="dragdropelements">
          <ul>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck104" checked>
                <label class="custom-control-label" for="customCheck100">New Claims</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck105" checked>
                <label class="custom-control-label" for="customCheck101">Error Claims</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck106" checked>
                <label class="custom-control-label" for="customCheck102">Clean Claims</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Completed Claims</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Pending Claims</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck107" checked>
                <label class="custom-control-label" for="customCheck103">Avg. Claims per User</label>
              </div> 
            </li>
          </ul> 
          
          <button type="button" class="btn btn-secondary btn-sm">Reset</button>
          <button type="button" class="btn btn-primary btn-sm">Save Layout</button>
        </div>
      </div>
      
    </div>  
  </div>

  <div class="card-body collapse show" id="collapsewidgetpanel">
    <div class="row">
      <div class="col">
        <div class="widget-box">
          <div class="widget-img">
            <img src="./assets/images/icons/claims-icon-myclaims.png" />
            <span class="medal-staff">Silver</span>
          </div>
          <div class="widget-details">
            <h6>My Score</h6>
            <h3>0</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col">
        <div class="widget-box">
          <div class="widget-img">
            <img src="./assets/images/icons/claims-icon-new.png" />
          </div>
          <div class="widget-details">
            <h6>My Claims</h6>
            <h3>{{myClaims.length}}</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      <div class="col">
        <div class="widget-box">
          <div class="widget-img">
            <img src="./assets/images/icons/claims-icon-completed.png" />
          </div>
          <div class="widget-details">
            <h6>Completed Claims</h6>
            <h3>{{completedClaims.length}}</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col">
        <div class="widget-box">
          <div class="widget-img">
            <img src="./assets/images/icons/claims-icon-pending.png" />
          </div>
          <div class="widget-details">
            <h6>Pending Claims</h6>
            <h3>{{pendingClaims.length}}</h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
