<div class="card-header">
    <div class="card-header-name">Search</div>
    <div class="card-header-config float-right keep-open">
      <a class="" href="#" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
        <div class="drag&dropelements">
          <ul>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck100" checked>
                <label class="custom-control-label" for="customCheck100">Worklist Name</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck101" checked>
                <label class="custom-control-label" for="customCheck101">Facility</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck102" checked>
                <label class="custom-control-label" for="customCheck102">Insurance Group</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck103" checked>
                <label class="custom-control-label" for="customCheck103">Company Name</label>
              </div> 
            </li>
            <li>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck104" checked>
                <label class="custom-control-label" for="customCheck104">Period</label>
              </div> 
            </li>
          </ul> 
          
          <button type="button" class="btn btn-secondary btn-sm">Reset</button>
          <button type="button" class="btn btn-danger btn-sm">Save Layout</button>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="searchWorkList" (ngSubmit)="onSubmit()" >
    <div class="card-body">
    
      <div class="form-group">
        <label class="col-form-label">Worklist Name</label>
        <csi-text-box
        [csiFormGroup] = "searchWorkList"
        [csiControllerName]="'name'"
        [classes] = "'form-control'"
        [placeholder] = "'ANY'"
        ></csi-text-box>
        
      </div>
      
      <div class="form-group">
        <label class="col-form-label">Facility</label>
        <csi-select-box-multiple
        [csiFormGroup] = "searchWorkList"
        [csiControllerName]="'facilities'"
        [label]="'Facility'" 
        [options] = "facilities"
        [classes] = "'form-control'"
        ></csi-select-box-multiple>   
             
      </div>
      
      <div class="form-group">
        <label class="col-form-label">Insurance Group</label>
        <csi-select-box-multiple
        [csiFormGroup] = "searchWorkList"
        [csiControllerName]="'insuranceGroup'"
        [label]="'Insurance Group'"
        [options] = "insuranceGroup"
        [classes] = "'form-control'"
        ></csi-select-box-multiple> 
        
      </div>
      
      <div class="form-group">
        <label class="col-form-label">Company Name / ID</label>
        <csi-select-box-multiple
        [csiFormGroup] = "searchWorkList"
        [csiControllerName]="'company'"
        [label]="'Company Name / ID'" 
        [options] = "companies"
        [classes] = "'form-control'"
        ></csi-select-box-multiple>  
        
      </div>
      
      <div class="form-group periodwrapper">
        <label class="col-form-label">Period</label>
        <div class="input-group datepickerwrapper">
          <input class="form-control" placeholder="Select Period" #drp="bsDaterangepicker" 
          bsDaterangepicker formControlName="dateRange" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }" >
          <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">today</i></span>
            </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-form-label">Assignee</label>
        <csi-select-box-multiple
        [csiFormGroup] = "searchWorkList"
        [csiControllerName]="'assignee'"
        [label]="'Assignee'" 
        [options] = "users"
        [classes] = "'form-control'"
        ></csi-select-box-multiple>
      </div>
    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn search-btn btn btn-danger"  >Search</button>
    </div>
  </form>
  