<div class="form-group">
        <!-- Label -->
        <label for="psw">{{label}}</label>
    
        <!-- Input Box -->
        <input type="password" 
        id = "{{id}}"
        formControlName="csiControllerName"
        class="{{classes}}"
        placeholder="{{placeholder}}" 
        [disabled]="disabled" 
        [value]="_value"
        (input)="onSearchChange($event.target.value)"
        (blur)="onBlurEmit()"
       >
    
        <!-- Error Message  -->
        <div class="text-error" *ngIf="(control.dirty || control.touched) && control?.errors">{{errorMessage()}}</div>
    
    </div>